@inject IOptions<AppHostOptions> HostOptions

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="@AppHostOptions.NormalizeBaseHref(HostOptions.Value.PathBase)" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="_content/MudBlazor/MudBlazor.min.css" />
    <link rel="stylesheet" href="@Assets["Citus.Business.Blazor.styles.css"]" />
    <ImportMap />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="@Assets["js/citus-downloads.js"]"></script>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
